@charset "UTF-8";

:root {
    --corFundo1: #E6E6E6;
    --corBranco: #ffffff;

    --corHeaderClicado: #f5c2c2;
}

body{
    background-color: #f0f0f0;
}

main{
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 20px;
}

.hidden{
    display: none;
}

.faq-section{
    background-color: var(--corBranco);
    border-radius: 8px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.faq-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    cursor: pointer;
    background-color: var(--corBranco);
    transition: background-color 0.3s;
}

.faq-header:hover{
    background-color: #f1373737;
}

.faq-header.active {
    background-color: var(--corHeaderClicado);
}

.faq-header h2 {
    font-size: 1.2rem;
    padding: 10px 0;
}

.faq-header img {
    width: 20px;
    transition: transform 0.3s;
    user-select: none;
}

.faq-header img.rotate {
    transform: rotate(180deg);
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 1.5rem;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.faq-content p {
    padding: 1rem 0;
    margin-bottom: 20px;
    font-size: 16px;
}

.faq-section:last-child{
    margin-bottom: 35px;
}