@charset "UTF-8";

/*Configurações da página principal*/
#dayS{
    background-color: var(--color1);
    width: 125px;
    height: 59px;
    border-radius: 14px;
}
#dayS img{
    width: 45px;
}
#dayS h2{
    display: inline;
    color: #FFFFFF;
}

#resumo{
    width: 362px;
    height: 267px;
    border-radius: 20px;
    background-color: #FFE3C8;
}
#meta{
    width: 362px;
    height: 267px;
    border-radius: 20px;
    background-color: #B6E4AA;
}
#widgets{
    width: 756px;
    height: 267px;
    border-radius: 20px;
    background-color: var(--color2);
}
#peso{
    width: 756px;
    height: 267px;
    border-radius: 20px;
    background-color: var(--color2);
} 