@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --BarraProg: #d42c31;
    --WidgetPrincipal: #fab8b8;

    --corMacroCard:#ededed;
    --corMacroCardHover:#ffffff;
    --corBotao:#ffcc32;
    --corBotaoHover:#eab12b;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #eaeaea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.resumo {
    background-color: var(--WidgetPrincipal);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.resumo h2 {
    margin: 0 0 10px;
}

.barra-progresso {
    background-color: #ddd;
    box-shadow: inset 1px 3px 10px rgba(0, 0, 0, 0.347);
    border-radius: 20px;
    height: 20px;
    overflow: hidden;
    margin-top: 10px;
}

.barra-progresso span {
    display: block;
    box-shadow: inset 1px 3px 10px rgba(0, 0, 0, 0.153);
    height: 100%;
    background-color: var(--BarraProg);
    width: 65%; /* exemplo: 1350/2000 kcal */
}

.macros {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.macro-card {
    background-color: var(--corMacroCard);
    border-radius: 10px;
    padding: 10px;
    flex: 1;
    margin: 0 5px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.macro-card:hover{
    background-color: var(--corMacroCardHover);
    transform: scale(1.02);
    transition: 0.20s;
}

.refeicoes {
    margin-top: 30px;
}

.refeicao {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.add-refeicao{
    background-color: var(--corBotao);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    text-align: center;
    font-size: 20px;
    border: none;
    width: 100%;
}

.add-refeicao:hover{
    background-color: var(--corBotaoHover);
    transform: scale(1.02);
    transition: 0.20s;
}

#add-refeicao-link{
    text-decoration: none;
    color: black;
}

.refeicao h3 {
    margin-top: 0;
}

.refeicao ul {
    list-style-type: none;
    padding: 0;
}

.refeicao li {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.refeicao > button {
    margin-top: 10px;
    background-color: var(--corBotao);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.add-prato:hover {
    background-color: var(--corBotaoHover);
}

.edit-btn{
    border: none;
    background-color: #00000000;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;  
}
.edit-btn img{
    width: 20px;
}
.edit-btn:hover{
    transform: scale(1.1);
    transition: 0.20s;
}

.refeicao-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refeicao-tabela{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
    gap: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    cursor: default;
}

.refeicao-tabela:hover{
    background-color: rgb(239, 239, 239);
}

.refeicao-tabela.header{
    font-weight: bolder;
    font-size: 16px;
    color: #333;
}
.refeicao-tabela.header:hover{
    background-color: #ffffff;
}

@media(max-width: 600px){
    refeicao-tabela{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
    }
}